body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-image: url("images/circuitBackg.jpg");
    font-family: Ubuntu, monospace;
    font-size: 2vw;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.element {
    float: right;
}

.border {
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    border-radius: 30%;
}
a:hover {
    color: red;
}
  
a:clicked {
    color: blue;
}
  
a:active {
    color: green;
}